<!DOCTYPE html>
</html>
<head>
    <title>Call Service</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:0px; }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
        .btn-default{
            margin-bottom: 5px;
            width: 180px;
            font-size: 20px;
            text-align: left;
        }
        .btn-primary{
            margin-bottom: 5px;
        }

        .sidebar{
          padding-top: 60px;
        }

        .main{
          padding-top: 45px;
        }
        .col-md-offset-4{
          padding-top: 20px;
        }
    </style>
</head>
<body>
        
<!--Barra superior ADMIN -->
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Logged as ADMIN</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin_logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<!--Barra Lateral ADMIN -->
  <div class="col-md-2 sidebar ">
    <ul>
      <li><a href="/user" class="btn btn-default"><span class="fa fa-pencil-square"></span> Users CRUD</a></li>
      <li><a href="/contact" class="btn btn-default"><span class="fa fa-list"></span> Add Contacts</a></li>
      <li><a href="/quiz" class="btn btn-default"><span class="fa fa-clipboard"></span> Quiz CRUD</a></li>
      <li><a href="/contact/add" class="btn btn-default"><span class="fa fa-bar-chart"></span> User Stats</a></li>
    </ul>
  </div>

<div class="col-md-8 main">