<%- include layouts/admin_header.ejs %>
	<div class="container">
        <div class="page-data">
            
            <form method="post" action="/contact/add">
                <input type="file" name="csv">
                <input type="submit" name="submit">
            </form>
            
        </div>
    </div>
        
<%- include layouts/footer.ejs %>