<%- include layouts/admin_header.ejs %>

        <form method="post" action="/contact/add">
            <div class="form-group">
                <label>Import csv file</label>
                <input  type="file" name="csv" required>
                <p class="help-block">Note: First row in csv file won't be saved</p>
            </div>
            <button class="btn btn-primary" type="submit" name="submit">Import</button>
        </form>
            

<%- include layouts/footer.ejs %>